/*Reset margins/padding*/
*:focus {
    outline: 0;
}

body {
    background-color:#3d3d3d;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    

    display: flex;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: 800;
}

#game-box {
    border-radius: 20px;
    background-color:#7d5fff;
    width: 60vw;
    text-align: center;
    padding: 2rem;
    margin: 1rem;

}

#score {
    display: flex;
    justify-content: center;
}

#score h3 {
    padding: 0 2rem 0  2rem;
}

#board {
    background-color: #ffb8b8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: .2rem;


    
  
}

.cell {
    background-color: #817c73;
    justify-self: center;
    align-self: stretch;
    min-width: 100%;
    min-height: 15vh;
    


    /* display: flex;
    justify-content: center;
    align-items: center; */
}


.status {
    display: flex;
    justify-content: center;



}

.status button {
    margin: 1rem;
    padding: .5rem;
    min-width: 10rem;
    border-radius: 20px;
    background-color: #cd84f1;
}

.status button:active {
    background-color: #c56cf0;
}


.Xicon{
    background-image: url(/pictures/x.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: auto;
}
.Oicon{
    background-image: url(/pictures/o.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: auto;
}

