/*Reset margins/padding*/
*:focus {
    outline: 0;
}

body {
    background-color:#3d3d3d;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    

    display: flex;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: 800;
}

#game-box {
    border-radius: 20px;
    background-color:#7d5fff;
    width: 50vw;
    height: fit-content;
    text-align: center;
    padding: 2rem;
    margin: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

}

#score {
    display: flex;
    justify-content: center;
}

#score h3 {
    padding: 0 1rem 0  1rem;
}

#board {
    background-color: #ffb8b8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: .2rem;
    border-radius: 5px;
    width: 30vw;
    height: 30vw;
}

#board div {
   display: block;
}

.cell {
    background-color: #817c73;
    justify-self: center;
    align-self: stretch;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    
    transition: opacity .5s;
    border-radius: 5px;
}

.cell:hover {
    opacity: .8;
   
}


.status {
    display: flex;
    justify-content: center;



}


.status button {
    margin: 1rem;
    padding: .5rem;
    min-width: 4vw;
    border-radius: 20px;
    background-color: #c56cf0;
    
    transition: background-color .5s
}

.status button:hover {
    background-color: #ffaf40;
}

.status button:active {
    background-color: #cd84f1;
}


.Xicon{
    background-image: url(/pictures/x.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
    
}
.Oicon{
    background-image: url(/pictures/o.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
    
}

.winShow {
    border: 3px solid #ffaf40;
    box-shadow:0px 0px #ffb8b8;
    border-radius: 5px;
}




form > div {
    display: block;
    padding: 2px;
    margin: 1rem;
    border-radius: 10px;

}
#radio-but {
    display: flex;
    justify-content: space-between;
}